<div class="page-wrapper">

	<%= form_for :vision, url: '/visions', method: 'post' do |f| %>
		<p>in <%= f.text_field :timeframe %> years time</p>

		<p><%= f.text_area :statement %></p>

		<%= f.submit %>
	<% end %>
</div>