<div class="response-buttons">
	<span class="response-button accept"><%= button_to 'accept', method: "post", action: "accept" %></span>

	<span class="response-button decline"><%= button_to 'decline', method: "post", action: "decline" %></span>
</div>