<div class="goal">
  <strong><li class="champ-li-name"><%= link_to find_requester(squad_connections.champ_id).username, user_path(squad_connections.champ_id) %></li></strong>
  <% if find_requester(squad_connections.champ_id).goals.last != nil %>
    <li class="champ-li-goal"><%= find_requester(squad_connections.champ_id).goals.last.content %>
      <p class="progress-italic">Goal Progress:</p>
      <div class="progress-bar-outer progress-home" style="width: 90%">
        <div class="progress-bar-inner" style="width:<%= find_requester(squad_connections.champ_id).goals.last.progress %>%"></div>
      </div>
    </li><br>
  <% end %>
</div>
