<div class="page-wrapper">
	<p>Confirm request for <%= @user.username %> to become your squad member</p>

	<%= button_to "Send Request", action: "create", method: "post" %>
	<button><%= link_to "Cancel", user_path(current_user.id) %></button>

</div>