<div class="page-wrapper">
	
	<h3>Projects</h3>

	<% if @projects.any? %>
		<%= render @projects %>
	<% else %>
		<p>You currently have no projects. You can find someone to collaborate with here.</p>
	<% end %>

</div>