<div class="page-wrapper">
	<h3><%= @project.name %></h3>

	<p><%= @project.description %></p>

	<p>Collaborators:</p>
	<ul>
		<%= render partial: 'projects/collaborator', collection: @project.collaborators %>
	</ul>

	<p>Objectives:</p>
	<ul>
		<%= render @project.project_objectives %>
	</ul>
</div>