<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @receiver.given_name %></h1>
    <p>
      <%= @requester.full_name %> thinks you're cool & wants to connect with you so you can keep them accountable with their goals. Yay!
    </p>
    <p>
      Click <a href="https://squadgoals.herokuapp.com">here</a> to login to your account & accept their request.
    </p>
    <p>
      Cheers!
    </p>
    <br>
    <p>
      Best,
    </p>
    <p>
      The Squadgoals Team
    </p>
  </body>
</html>
