<p>hey</p>

<%= link_to Project.find(collaboration.project_id).collaborations.find_by(sent_request: true).collaborator.username, user_path(Project.find(collaboration.project_id).collaborations.find_by(sent_request: true).collaborator.id) %> wants to collaborate on a project


	<p>Vision Statement: <%= Project.find(collaboration.project_id).collaborations.find_by(sent_request: true).collaborator.visions.last.statement %></p>



<%= link_to 'view confirmation', user_collaboration_path(Project.find(collaboration.project_id).collaborations.find_by(sent_request: true).collaborator.id, collaboration.id) %>