.progress-bar-outer {
  height: 10px;
  width: 25%;
  background-color: #CCDEFF;
  border-radius: 15px;

}

.progress-bar-inner {
  height: 10px;
  background-color: #92A8D1;
  border-radius: 15px;
}

.progress-home {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 20%;
}

.progress-user-show {
  margin: 3%;
  margin-left: 0;
}

.progress-italic {
  font-style: italic;
  font-size: 10px;
}

* {
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  color: #4F6284;
}

.main {
  padding: 20px;
}

/* ------------------------- */
/* ---------- NAV ---------- */
/* ------------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #CCDEFF;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 5px;
}

nav a:hover {
  text-decoration: none;
  color: #92A8D1;
}

.js--logged-out-links {
  display: flex;
}

.js--logged-in-links {
  display: flex;
}

/* ------------------------- */
/* ------ USER SEARCH ------ */
/* ------------------------- */

.search-form {
  margin: 5px;
}

.search-form input::-webkit-input-placeholder {
  color: white;
}

.search-form input[type=text] {
  width: 300px;
  margin-right: 5px;
  padding: 5px;
  border: none;
  background-color: #92A8D1;
  color: white;
}

.search-form input[type=submit] {
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 0;
  background-color: #92A8D1;
  color: white;
}

.search-form input[type=submit]:hover {
  background-color: #CCDEFF;
}

/* ------------------------- */
/* -------- RESULTS -------- */
/* ------------------------- */

.found-users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid #92A8D1;
}

/* ------------------------- */
/* ---- HOME PAGE GOALS ---- */
/* ------------------------- */

.goals-sample {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.goal {
  width: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid #92A8D1;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  border: 5px solid #92A8D1;
  border-radius: 100%;
}

.goal a:hover {
  color: #92A8D1;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tags ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags li {
  border-radius: 5px;
  background-color: #92A8D1;
  margin: 5px;
  padding: 5px;
}

.tags a:hover {
  color: #CCDEFF;
}

/* ------------------------- */
/* --------- LINKS --------- */
/* ------------------------- */

a {
  color: #4F6284;
  text-decoration: none;
}

a:visited {
  color: #4F6284;
  text-decoration: none;
}

/* ------------------------- */
/* --------- ABOUT --------- */
/* ------------------------- */

.about {
  display: flex;
  padding: 25px;
}

.about h3 {
  color: #4F6284;
}

.about h5 {
  color: #92A8D1;
}

.our-goals {
  width: 40%;
  margin: 5px;
}

.your-goals {
  width: 60%;
  margin: 5px;
}

/* ------------------------- */
/* -------- SIGN-UP -------- */
/* ------------------------- */

.sign-up-form {
  text-align: center;
}

.sign-up-form label {
  color: #92A8D1;
}

.sign-up-form input[type=file] {
  margin: 5px;
  padding: 5px;
}

.sign-up-form input[type=text],
.sign-up-form input[type=email],
.sign-up-form input[type=password] {
  width: 300px;
  margin: 5px;
  padding: 5px;
}

/* ------------------------- */
/* --------- LOGIN --------- */
/* ------------------------- */

.login-form {
  text-align: center;
}

.login-form label {
  color: #92A8D1;
}

.login-form input[type=email],
.login-form input[type=password] {
  width: 300px;
  margin: 5px;
  padding: 5px;
}

/* ------------------------- */
/* ------------------------- */
/* ------------------------- */

li {
  list-style-type: none;
}

.tab-content {
    display: none;
}
.tabs {
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;

    margin-bottom: 15px;
    list-style: none;
}
.tabs li {
    float: left;
    margin-right: 16px;
    padding: 6px 8px;
    padding-top: -3px;
    height: 20px;
    line-height: 30px;
}
.tabs li a {
    color: #666;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 20px;
    padding: 9px 14px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

/* ------------------------- */
/* ---- COMPLETE BUTTON ---- */
/* ------------------------- */

.complete-button {
  border-radius: 7px;
  background: #CBDFFC;
  box-shadow: #91a8cd;
  border: none;
}

.completed-strike {
  text-decoration: line-through;
}