<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @requester.given_name %></h1>
    <p>
      We are just letting you know that <%= @acceptor.given_name %> accepted your request to be in your squad. Congratulations!
    </p>
    <br>
    <p>
      Best,
    </p>
    <p>
      The Squadgoals Team
    </p>
  </body>
</html>
