<%= form_for :sub_goal, url: "/goals/#{@goal.id}/sub_goals/#{@sub_goal.id}/edit", html: { method: "put", id:"#{@sub_goal.id}_edit"}, remote: true, authenticity_token: true do |f| %>

  <p><%= f.text_area :content %></p>
  <%= f.submit "Update"%>

<% end %>