<h1>Our Goals</h1>

<p>SquadGoals is a platform built for ambitious folk so that they may acheive their goals. In addition they may connect with others who share a similar goal.</p>

<h3>Visions</h3>

<p>Upon registration, a user is propmpted with what their long-term vision is, and in what timeframe they plan to accomplish this vision. The user has the opportunity to modify their vision at any point, as life is ever-changing and with that so can be our visions.</p>

<h3>Goals</h3>

<p>At any point a user may set a new goal. The user decides which category the goal falls under (personal, career, or health), the date by when the user plans to acheive the goal, and whether or not the goal is a private goal.</p>

<h3>Connections</h3>

<p>Upon acceptance of a request to connect, the user who requested becomes the champ and the user who accepted the connection becomes the squad member. A champ's squad is able to see the champ's progress in acheiving a goal. It is up to the squad members to encourage the champ if they see that the champ is lagging in their acheivements.</p>