<section id="goals-sample">
  <% @goals_sample.each do |goal| %>
    <div class="goal">
      <p><%= goal.content %></p>
      <p><%= goal.by_when %></p>
      <p><%= goal.user.username %></p>
      <div id=tags-sample>
        <ul>
          <%= render goal.tags %>
        </ul>
      </div>
    </div>
  <% end %>
</section>
